.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 80%;
    max-width: 450px;
    padding: 25px;  
    gap: 14px;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
}

.btnSignUp {
    margin-top: 10rem;
}
