.container {
    display: flex;
    // height: 100%;
    flex-direction: column;
    justify-content: center;
    // gap: 15px;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    padding: 10px;
    margin-top: 2rem;
}
.form {
    display: flex;
    // height: 50%;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;    
}
.formButton {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
}

.modalButton {
    width: 2rem;
    background-color: red;
}
