@use "./_reset.css";
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300;500;700&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
}

#root {
    background-color: #fff8e5;
    width: 100%;
    height: 100%;
}