.containerCardReward {
    background-color: #dbc84e;
    border-radius: 10px;
}

.containerCardTask {
    background-color: #00b3ff;
    border-radius: 10px;
}

.containerCardMembre {
    background-color: #ed62ed;
    border-radius: 10px;
}

.buttons {
   margin:auto;
}