
.containerCardReward {
    background-color: #dbc84e;
    border-radius: 10px;
}

.containerCardTask {
    background-color: rgb(0, 179, 255);
    border-radius: 10px;
}

.containerCardMembre {
    background-color: rgb(237, 98, 237);
    border-radius: 10px;
}

.btnAdd {
    background-color: whitesmoke;
    border-radius: 15px;
    color: black;
    margin: auto;
}

.btnSpendCredit {
    background-color: #dbc84e;
    color:red;
    border: solid;
    border-radius: 20px;
}

.btnGetCredit {
    background-color:rgb(0, 179, 255);
    color: rgba(3, 123, 31, 0.856);
    border: solid;
    border-radius: 20px;

}