
.containerCardReward {
    background-color: #dbc84e;
    border-radius: 10px;
}

.containerCardTask {
    background-color: rgb(0, 179, 255);
    border-radius: 10px;
}

.containerCardMembre {
    background-color: rgb(237, 98, 237);
    border-radius: 10px;
}

.buttons {
   margin: auto;
}
