.containerCreateFamily {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    background-image: url("../../src/assets/background-login-plage.jpg");
    background-size: cover;
    background-position: 30% 50%;
    padding-bottom: 5rem;
    color: white;
    font-size: 1.2rem;
}

.logo {
    height: 10rem;
}

.h1 {
    position: relative;
    top: -80px;
    text-align: center;
    font-size: 2rem;
    color: #e0a81a;
}

.textWelcomeParents {
    position: relative;
    top: 70px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
}

.textWelcomeChildrens {
    position: relative;
    top: 25px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
}
