.containerCreateFamily {
    display: flex;
    flex-direction: column;      
    height: 100%;
    width: 100%;
    background-image: url("../../src/assets/background-login-plage.jpg");
    background-size: cover;
    background-position: 30% 50%; 
}

.logo {    
    height: 15rem;    
}

h1 {
    text-align: center;
    font-size: 2rem;
}

.textWelcomeParents {
    background-color: aqua;
}

.textWelcomeChildrens{
    background-color: aquamarine;
}
