.container {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url("../../src/assets/background-login-plage.jpg");
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  align-items: center;
  padding-top: 28rem;
  padding-bottom: 3.5rem;
}

