
.container {
    display: flex;
    flex-direction: column;    
    height: 100%;
    width: 100%;
    background-image: url("../../src/assets/background-login-plage.jpg");
    background-size: cover;
    background-position: 30% 50%;  
}

.containerLogo{
    display: flex;
    flex-direction: column;
}

.logo {
    height: 15rem;    
}

.titre {
    font-family: 'Shantell Sans', cursive;
    color: #f1f1f1;
    font-size: 2.8rem;    
}

.actionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 250px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 75%;
    max-width: 450px;       
    margin-top: 16rem;
    padding: 25px;  
    gap: 14px;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
}
