.container {
    display: flex;
    flex-direction: column;    
    height: 100%;
    width: 100%;
    background-image: url("../../src/assets/background-login-plage.jpg");
    background-size: cover;
    background-position: 30% 50%;  
}

.containerLogo{
    display: flex;
    flex-direction: column;    
}

.logo {
    margin-top: 5rem;
    height: 15rem;    
}

.form {
    display: flex;
    justify-content: center;
    margin-top: 18rem;    
}