.container {
    display: flex;
    flex-direction: column;    
    min-height: 100vh;
    width: 100%;
    background-image: url("../../src/assets/background-login-plage.jpg");
    background-size: cover;
    background-position: 30% 50%;  
}

.containerLogo{
    display: flex;
    flex-direction: column;
}

.logo {
    height: 15rem;    
}

.actionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}