.container {
    padding-top: 80px;
    padding-left: 5%;
    padding-right: 5%;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../../assets/background-login-plage.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.title {
    color: black;
}